* {
    margin: 0;
    color: white;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: black;
    background-image: url('./images/poster.png');
    background-size: cover; 
    background-position: top; 
    background-repeat: no-repeat; 
}


.menu ul {
    display: flex;
    flex-direction: row;    
    list-style-type: none;
    padding: 2em 25vw;
    justify-content: space-between;
    align-items: flex-end

}

ul li {
    cursor: pointer;
}

.info_serie {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.titulo {
    font-size: 18px;
}

.genero {
    font-size: 14px;
    font-weight: 400;
}

.row {
    display: flex;
    flex-direction: row;    
}


.m-t-14 {
    margin-top: 14px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-b-28 {
    margin-bottom: 28px;
}

.m-t-56 {
    margin-top: 56px;
}

.poster {
    width: 392px;
}

.ph-30 {
    padding-left: 60px;
    padding-right: 60px;
}

.gap-150 {
    gap: 150px;
}

.pt-50 {
    padding-top: 50px;
}

.social {
    width: 30px;
    height: 160px;
    position: absolute;
    right: 30px;
    top: 50%; 
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.social img {
    margin-bottom: 40px; 
}

.episodios {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-episodio {
    width: 230px;
    height: 135px;
    background-color: #14141440;
    border-radius: 10px;
    padding: 25px;
}


.botao-assistir {
    display: inline-block;
    margin-top: 30px;
    padding: 6px 6px;
    background-color: #202020; 
    color: white; 
    border: none;
    border-radius: 7px;
    text-decoration: none; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}